<div class="container">
	<nav aria-label="breadcrumb">
	  <ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="/">主页</a></li>
		<li class="breadcrumb-item active" aria-current="page">儿童用药</li>
	  </ol>
	</nav>

	  <div class="row">
		<div class="col-md-3">
		  <div class="card mb-4 shadow-sm " style="border-width: 10; border-color:red">
			<div class="card-header bg-danger">
			  <h5 class="card-title text-white">永安堂大药房<small>商品标价签</small></h5>
			</div>
			<img class="card-img-top" src="/assets/images/01/1001.jpg" alt="...">
			<div class="card-body">
			  <form class="text-danger">
				<div class="form-group row">
					<label class="col-4 col-form-label">品名： </label>
					<div class="col-8">
						<input class="form-control-plaintext" type="text" readonly  value="小儿氨酚烷胺颗粒"/>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-6 col-form-label">可刷医保：</label>
					<input class="col-4 form-control-plaintext" type="text" readonly  value="0"/>
					<label class="col-2 col-form-label text-right">盒</label>
				</div>
				<div class="form-group row">
					<label class="col-6 col-form-label">零售价： </label>
					<input class="col-4 form-control-plaintext" type="text" readonly  value="16"/>
					<label class="col-2 col-form-label text-right">元</label>
				</div>
			  </form>
			</div>
		  </div>
		</div>
		 <div class="col-md-3">
		  <div class="card mb-4 shadow-sm " style="border-width: 10; border-color:red">
			<div class="card-header bg-danger">
			  <h5 class="card-title text-white">永安堂大药房<small>商品标价签</small></h5>
			</div>
			<img class="card-img-top" src="/assets/images/01/1002.jpg" alt="...">
			<div class="card-body">
			  <form class="text-danger">
				<div class="form-group row">
					<label class="col-4 col-form-label">品名： </label>
					<div class="col-8">
						<input class="form-control-plaintext" type="text" readonly  value="小儿化痰止咳颗粒"/>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-6 col-form-label">可刷医保：</label>
					<input class="col-4 form-control-plaintext" type="text" readonly  value="0"/>
					<label class="col-2 col-form-label text-right">盒</label>
				</div>
				<div class="form-group row">
					<label class="col-6 col-form-label">零售价： </label>
					<input class="col-4 form-control-plaintext" type="text" readonly  value="16"/>
					<label class="col-2 col-form-label text-right">元</label>
				</div>
			  </form>
			</div>
		  </div>
		</div>
		 <div class="col-md-3">
		  <div class="card mb-4 shadow-sm " style="border-width: 10; border-color:red">
			<div class="card-header bg-danger">
			  <h5 class="card-title text-white">永安堂大药房<small>商品标价签</small></h5>
			</div>
			<img class="card-img-top" src="/assets/images/01/1003.jpg" alt="...">
			<div class="card-body">
			  <form class="text-danger">
				<div class="form-group row">
					<label class="col-4 col-form-label">品名： </label>
					<div class="col-8">
						<input class="form-control-plaintext" type="text" readonly  value="布洛芬颗粒"/>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-6 col-form-label">可刷医保：</label>
					<input class="col-4 form-control-plaintext" type="text" readonly  value="0"/>
					<label class="col-2 col-form-label text-right">盒</label>
				</div>
				<div class="form-group row">
					<label class="col-6 col-form-label">零售价： </label>
					<input class="col-4 form-control-plaintext" type="text" readonly  value="16"/>
					<label class="col-2 col-form-label text-right">元</label>
				</div>
			  </form>
			</div>
		  </div>
		</div>
		 <div class="col-md-3">
		  <div class="card mb-4 shadow-sm " style="border-width: 10; border-color:red">
			<div class="card-header bg-danger">
			  <h5 class="card-title text-white">永安堂大药房<small>商品标价签</small></h5>
			</div>
			<img class="card-img-top" src="/assets/images/01/1004.jpg" alt="...">
			<div class="card-body">
			  <form class="text-danger">
				<div class="form-group row">
					<label class="col-4 col-form-label">品名： </label>
					<div class="col-8">
						<input class="form-control-plaintext" type="text" readonly  value="小儿化痰止咳颗粒"/>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-6 col-form-label">可刷医保：</label>
					<input class="col-4 form-control-plaintext" type="text" readonly  value="0"/>
					<label class="col-2 col-form-label text-right">盒</label>
				</div>
				<div class="form-group row">
					<label class="col-6 col-form-label">零售价： </label>
					<input class="col-4 form-control-plaintext" type="text" readonly  value="16"/>
					<label class="col-2 col-form-label text-right">元</label>
				</div>
			  </form>
			</div>
		  </div>
		</div>
	</div>


	<div class="row">
		<div class="col-md-3">
		  <div class="card mb-4 shadow-sm " style="border-width: 10; border-color:red">
			<div class="card-header bg-danger">
			  <h5 class="card-title text-white">永安堂大药房<small>商品标价签</small></h5>
			</div>
			<img class="card-img-top" src="/assets/images/01/1005.jpg" alt="...">
			<div class="card-body">
			  <form class="text-danger">
				<div class="form-group row">
					<label class="col-4 col-form-label">品名： </label>
					<div class="col-8">
						<input class="form-control-plaintext" type="text" readonly  value="小儿肺热咳喘颗粒"/>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-6 col-form-label">可刷医保：</label>
					<input class="col-4 form-control-plaintext" type="text" readonly  value="0"/>
					<label class="col-2 col-form-label text-right">盒</label>
				</div>
				<div class="form-group row">
					<label class="col-6 col-form-label">零售价： </label>
					<input class="col-4 form-control-plaintext" type="text" readonly  value="16"/>
					<label class="col-2 col-form-label text-right">元</label>
				</div>
			  </form>
			</div>
		  </div>
		</div>
		 <div class="col-md-3">
		  <div class="card mb-4 shadow-sm " style="border-width: 10; border-color:red">
			<div class="card-header bg-danger">
			  <h5 class="card-title text-white">永安堂大药房<small>商品标价签</small></h5>
			</div>
			<img class="card-img-top" src="/assets/images/01/1006.jpg" alt="...">
			<div class="card-body">
			  <form class="text-danger">
				<div class="form-group row">
					<label class="col-4 col-form-label">品名： </label>
					<div class="col-8">
						<input class="form-control-plaintext" type="text" readonly  value="小儿氨酚黄那敏颗粒"/>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-6 col-form-label">可刷医保：</label>
					<input class="col-4 form-control-plaintext" type="text" readonly  value="0"/>
					<label class="col-2 col-form-label text-right">盒</label>
				</div>
				<div class="form-group row">
					<label class="col-6 col-form-label">零售价： </label>
					<input class="col-4 form-control-plaintext" type="text" readonly  value="16"/>
					<label class="col-2 col-form-label text-right">元</label>
				</div>
			  </form>
			</div>
		  </div>
		</div>
		 <div class="col-md-3">
		  <div class="card mb-4 shadow-sm " style="border-width: 10; border-color:red">
			<div class="card-header bg-danger">
			  <h5 class="card-title text-white">永安堂大药房<small>商品标价签</small></h5>
			</div>
			<img class="card-img-top" src="/assets/images/01/1007.jpg" alt="...">
			<div class="card-body">
			  <form class="text-danger">
				<div class="form-group row">
					<label class="col-4 col-form-label">品名： </label>
					<div class="col-8">
						<input class="form-control-plaintext" type="text" readonly  value="小儿柴桂退热颗粒"/>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-6 col-form-label">可刷医保：</label>
					<input class="col-4 form-control-plaintext" type="text" readonly  value="0"/>
					<label class="col-2 col-form-label text-right">盒</label>
				</div>
				<div class="form-group row">
					<label class="col-6 col-form-label">零售价： </label>
					<input class="col-4 form-control-plaintext" type="text" readonly  value="16"/>
					<label class="col-2 col-form-label text-right">元</label>
				</div>
			  </form>
			</div>
		  </div>
		</div>
		 <div class="col-md-3">
		  <div class="card mb-4 shadow-sm " style="border-width: 10; border-color:red">
			<div class="card-header bg-danger">
			  <h5 class="card-title text-white">永安堂大药房<small>商品标价签</small></h5>
			</div>
			<img class="card-img-top" src="/assets/images/01/1008.jpg" alt="...">
			<div class="card-body">
			  <form class="text-danger">
				<div class="form-group row">
					<label class="col-4 col-form-label">品名： </label>
					<div class="col-8">
						<input class="form-control-plaintext" type="text" readonly  value="小儿肺热咳喘口服"/>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-6 col-form-label">可刷医保：</label>
					<input class="col-4 form-control-plaintext" type="text" readonly  value="0"/>
					<label class="col-2 col-form-label text-right">盒</label>
				</div>
				<div class="form-group row">
					<label class="col-6 col-form-label">零售价： </label>
					<input class="col-4 form-control-plaintext" type="text" readonly  value="16"/>
					<label class="col-2 col-form-label text-right">元</label>
				</div>
			  </form>
			</div>
		  </div>
		</div>
	</div>
</div>